doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        title Webpack app
    body
        h1 test pug
        .home
        .title Заголовок dfgdfg
        h3 dfgdfgdf
        img(src="./img/bg/567567567567.jpg")
        p 5435443543j5lkjlkj